[Pinyin]
# 拼音输入法优先级，0为禁用
PinyinPriority=2
# 双拼输入法优先级，0为禁用
ShuangpinPriority=1
# 默认双拼方案
# 可选值：
# Ziranma MS Ziguang ABC Zhongwenzhixing PinyinJiaJia User Defined
DefaultShuangpinSchema=Ziranma
# 使用完整拼音
# 可选值：
# True False
UseCompletePinyin=False
# 自动组词
# 可选值：
# True False
AutoCreatePhrase=True
# 保存自动词组
# 可选值：
# True False
SaveAutoPhrase=False
# 快捷键: 添加常用字
AddFreqWordKey=CTRL_8
# 快捷键: 删除常用字
DeleteFreqWordKey=CTRL_7
# 快捷键: 删除用户词组
DeleteUserPhraseKey=CTRL_DELETE
# 快捷键: 以词定字
InputWordFromPhraseKey=[]
# 候选字顺序
# 可选值：
# AdjustNo AdjustFast AdjustFreq
BaseOrder=AdjustFreq
# 候选词顺序
# 可选值：
# AdjustNo AdjustFast AdjustFreq
PhraseOrder=AdjustFast
# 常用字顺序
# 可选值：
# AdjustNo AdjustFast AdjustFreq
FreqOrder=AdjustNo
# 模糊an和ang
# 可选值：
# True False
FuzzyAnAng=False
# 模糊en和eng
# 可选值：
# True False
FuzzyEnEng=True
# 模糊ian和iang
# 可选值：
# True False
FuzzyIanIang=False
# 模糊in和ing
# 可选值：
# True False
FuzzyInIng=True
# 模糊ou和u
# 可选值：
# True False
FuzzyOuU=False
# 模糊uan和uang
# 可选值：
# True False
FuzzyUanUang=False
# 模糊c和ch
# 可选值：
# True False
FuzzyCCh=False
# 模糊f和h
# 可选值：
# True False
FuzzyFH=False
# 模糊l和n
# 可选值：
# True False
FuzzyLN=False
# 模糊s和sh
# 可选值：
# True False
FuzzySSH=False
# 模糊z和zh
# 可选值：
# True False
FuzzyZZH=False
# 修复拼音中ng和gn的输入错误
# 可选值：
# True False
Misstype=False

